<div class="container">
  <div class="row">
    <h1 class="text-center"><%= @car.name %></h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% if @car.photo %>
        <%= cl_image_tag @car.photo, height: 400, width: 400, crop: :fill, class: "img-responsive" %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <ul>
        <li>Name: <%= @car.make %></li>
        <li>Model: <%= @car.model %></li>
        <li>Year: <%= @car.year %></li>
        <li>Color: <%= @car.color %></li>
        <li>Seats: <%= @car.seats %></li>
        <li>Location: <%= @car.location %></li>
        <li>Transmission: <%= @car.transmission %></li>
        <li>Price: $<%= @car.price %></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <% if @booking.user == current_user %>
        <h2>Your Booking Information</h2>
        <ul>
          <li>Booking Start: <%= @booking.start_date %></li>
          <li>Booking End: <%= @booking.end_date %></li>
        </ul>
        <!-- <div class="pull-right"><%= link_to 'Your Boooking List', bookings_index_path %></div> -->
      <% end %>
    </div>
  </div>
</div>
