<div class="container">

  <h2><%= link_to "Back to Your Listings", users_cars_path,  {class: "btn btn-primary"} %></h2>

  <div class="jumbutron">
  <h1 class="text-center">Register New Car</h1>
  </div>

  <div class="contact-form">
    <%= simple_form_for @car do |f| %>
    <%= f.input :name %>
    <%= f.input :make %>
    <%= f.input :model %>
    <%= f.input :year %>
    <%= f.input :color %>
    <%= f.input :seats %>
    <%= f.input :location %>
    <%= f.input :transmission %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="form-actions text-right">
    <%= f.button :submit, "Register", {class:"btn-success"} %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <div class="form-login contact-form">
        <h1 class="text-center">Register New Car</h1>
        <%= simple_form_for @car do |f| %>
        <form action="#">
          <div class="form-group">
            <label for="email">Your email</label>
            <input type="email" class="form-control" id="email" placeholder="bob@gmail.com">
          </div>
          <div class="form-group">
            <label for="password">Your password</label>
            <input type="password" class="form-control" id="password" placeholder="******">
          </div>
          <input type="submit" value="Register" class="btn btn-primary">
        </form>
      </div>
    </div>
 1 </div>
</div>


<div class="form-container" >
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">File input</label>
      <input type="file" id="exampleInputFile">
      <p class="help-block">Example block-level help text here.</p>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
