<h1 class="text-center"><%= @car.name %></h1>
<p>Find me in app/views/cars/show.html.erb</p>

<!--
<div class="text-center padded">
  <%#= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
 -->
<div class="container">
    <% if @car.photo %>
    <%= cl_image_tag @car.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
    <ul>
      <li><%= @car.make %></li>
      <li><%= @car.model %></li>
      <li><%= @car.year %></li>
      <li><%= @car.color %></li>
      <li><%= @car.seats %></li>
      <li><%= @car.location %></li>
      <li><%= @car.transmission %></li>
      <li><%= @car.price %></li>
    </ul>
    <div class="pull-right"><%= link_to 'Book this car!!', new_car_booking_path(:car_id) %></div>
</div>
