<h1 class="text-center"><%= @car.name %></h1>

<!--
<div class="text-center padded">
  <%#= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary" %>
</div>
 -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-4">
      <div class="show-picture">
        <% if @car.photo %>
          <%= cl_image_tag @car.photo, height: 300, width: 400, crop: :fill, class: "img-responsive" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-9 col-md-8">
      <%= simple_form_for [@car, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.input :car_id, :as => :hidden, :input_html => { :value => @car.id }  %>
        <%= f.submit "Book this car!", class: "btn btn-primary", method: :post %>
      <% end %>

    </div>
  </div>
  <div class="row">
    <ul class="show-list">
        <li><%= "Make:          #{@car.make}" %></li>
        <li><%= "Model:         #{@car.model}"  %></li>
        <li><%= "Year:          #{@car.year}"  %></li>
        <li><%= "Color:         #{@car.color}"  %></li>
        <li><%= "Seats:         #{@car.seats}"  %></li>
        <li><%= "Location:      #{@car.location}"  %></li>
        <li><%= "Transmission:  #{@car.transmission}"  %></li>
        <li><%= "Price:         #{@currency}#{@car.price.to_i}"  %></li>
    </ul>
  </div>
</div>

    <!-- google map -->
                <div id="map" style="width: 100%; height: 600px;"></div>

                <% content_for(:after_js) do %>
                  <%= javascript_tag do %>
                    $(document).ready(function() {
                      var handler = Gmaps.build('Google');
                      handler.buildMap({ internal: { id: 'map' } }, function() {
                        markers = handler.addMarkers(<%= raw @hash.to_json %>);
                        handler.bounds.extendWith(markers);
                        handler.fitMapToBounds();
                        if (markers.length == 0) {
                          handler.getMap().setZoom(2);
                        } else if (markers.length == 1) {
                          handler.getMap().setZoom(14);
                        }
                      });
                    });
                  <% end %>
                <% end %>
    <!-- google map -->

    <div class="pull-right"><%= link_to 'Book this car!!', new_car_booking_path(@car.id) %></div>
</div>
